@*@model IEnumerable<Item>*@

@*@foreach (var i in Model)
    {
        <div>
            <h3>@i.ItemName</h3>
            @i.ItemDescription
            <h4>@i.ItemPrice.ToString("c")</h4>
        </div>
    }*@

@model ItemListViewModel

@*@foreach (var i in Model.Items)
{
    <div>
        <h3>@i.ItemName</h3>
        @i.ItemDescription
        <h4>@i.ItemPrice.ToString("c")</h4>
    </div>
}

<div page-model="@Model.PageInfo" page-action="Index"></div>*@

@foreach (var i in Model.Items)
{
    @await Html.PartialAsync("ItemSummary", i)
}
<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1">
</div>